/* style.css */
body {
  background-image: url("https://images.pexels.com/photos/2748716/pexels-photo-2748716.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
}
